includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/
        - config/
    
    level: 5
    
    excludePaths:
        - ./config/database.php
